@font-face {
  font-family: "CharterC";
  src: url("./CharterC.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "CharterC";
  src: url("./CharterC-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: "CharterC";
  src: url("./CharterC-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "CharterC";
  src: url("./CharterC-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}
