.footer {
  margin-top: 65px;
}

.footer-card {
  padding: 40px 15px;
  background: var(--card-grey);
}

.footer-title {
  color: black;
  font-weight: 500;
  font-size: 17px !important;
  text-transform: uppercase;
}

/*footer-booking*/
.footer-booking {
  display: flex;
  width: 270px;
  height: 374px;
  background: #454850;
  border-radius: 18.7px;
  flex-direction: column;
  justify-content: center;
}

.footer-booking-btn {
  font-weight: 400;
  font-size: 12px !important;
}

.footer-booking-text {
  color: white !important;
  font-weight: 500;
  font-size: 14px !important;
  white-space: pre-line !important;
}

/* footer-carousel */
/* footer-slide */
.footer-carousel,
.footer-slide {
  width: 309px;
  height: 247px;
}

.footer-slide-container {
  position: relative;
  height: 247px;
}

.footer-slide-image {
  display: block;
  width: 100%;
  height: 247px;
  object-fit: cover;
}

.footer-slide-svg {
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 82px;
  height: 80px;
}

.footer-carousel {
  border-radius: 14px;
}

/* footer-helpInfo */
.footer-helpInfo {
  color: black !important;
}

.footer-helpInfo-subtitle {
  font-size: 14px;
  margin-top: 14px;
  font-weight: 700;
}

.footer-helpInfo-link {
  line-height: 23.275px;
  font-size: 15.2px !important;
  color: black !important;
}

/* footer-service */
.footer-service {
  width: 100%;
  max-width: 580px;
  margin-left: 30px;
}

/* footer-mazur */
.footer-mazur {
  margin-top: 60px;
  padding-bottom: 30px;
}

.footer-mazur-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-mazur-copyright,
.footer-mazur-mailPolyana,
.footer-mazur-privacyPolicy {
  margin-top: 12px;
  font-size: 14.45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none !important;
  color: var(--polyanaGrey) !important;
}

/* media */
@media (max-width: 1200px) {
  .footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
  }

  .footer-service {
    flex-wrap: wrap;
    margin: 30px auto 15px !important;
    width: auto !important;
    max-width: none !important;
  }

  .footer-booking {
    margin: 35px 10px 10px;
    width: 298px !important;
  }

  .footer-helpInfo {
    flex-wrap: wrap;
  }
}

@media (max-width: 960px) {
  .footer-card,
  .footer-container {
    padding: 0 !important;
  }

  .footer-inner {
    flex-wrap: wrap;
    margin: 0 !important;
    padding: 0 !important;
  }

  .footer-service {
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
  }

  .footer-carousel,
  .footer-slide {
    width: 294px !important;
    height: 234px !important;
  }

  .footer-slide-svg {
    bottom: 12px !important;
    width: 62px !important;
    height: 60px !important;
  }
}

@media (max-width: 790px) {
  .footer-mazur-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
