@import "../fonts/charterc/charterc.css";
@import "../fonts/montserrat/Montserrat.css";
@import "../fonts/cormorantgaramond/cormorantgaramond.css";
@import "../fonts/cormorantinfant/cormorantinfant.css";

:root {
  --bordrad23: 23px;
  --polyanaGrey: #8F8F8F;
  --dark-color: #32343A;
  --background: #E5E4E2;
  --cold-grey: #CED9E0;
  --card-grey: #D9D9D9;
  --golden-1: #DEC799;
  --golden-2: #FFBF7B;
  --text-golden-1: rgba(204, 171, 106, 1);
  --text-golden-2: rgba(178, 160, 126, 1);
  --gradiend-golden: linear-gradient(to right,
  var(--text-golden-1), var(--text-golden-2));
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  line-height: normal !important;
  font-style: normal !important;
}

.w-100 {
  width: 100%;
}

.total-container {
  width: 100%;
  max-width: 1360px;
  min-height: 100vh;
}

.section {
  &-title {
    font-family: 'CharterC', sans-serif !important;
  }
}

.general-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}

.golden-gradient {
  background: var(--gradiend-golden);

  &--text {
    color: transparent;
    background-clip: text;
    background-image: var(--gradiend-golden);
  }
}

.shimmer-effect {
  position: relative;
  overflow: hidden;
  & .shimmer {
    position: absolute;
    top: -20px;
    left: 0;
    width: 45px;
    height: 60px;
    transform: skewX(-45deg);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 3s infinite linear;
  }

  & .text {
    position: relative;
    z-index: 100;
  }
}

.v-btn {
  letter-spacing: .3px !important;
}

.v-card {
  &__title,
  &__text {
    word-break: normal !important
  }
}

.v-expansion-panel {
  &::before {
    box-shadow: none !important;
  }

  &-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &-content__wrap {
    padding: 0 !important;
  }
}

.v-dialog,
.v-menu__content {
  box-shadow: none !important;
}
