.tl-section {
  margin-top: 80px;
}

#tl-hotel-select {
  background: rgb(255, 255, 255) url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogICAgPHBhdGggZD0iTTAgMC41OTk5OThMNiA3LjhMMTIgMC41OTk5OThIMFoiIGZpbGw9IiMzMjM0M0EiLz4NCjwvc3ZnPg0K') no-repeat right 20px top 22px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  -webkit-transition: box-shadow .3s, opacity .3s;
  transition: box-shadow .3s, opacity .3s;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px;
  font: 16px 'Montserrat', sans-serif;
  color: #000;
  line-height: normal;
  height: auto;
}

.tl-select-wrap {
  max-width: 1440px;
  margin: 0 auto;
}

#tl-block-select {
  color: rgb(109, 109, 109) !important;
  background-color: rgb(255, 255, 255);
  margin: 8px 0 10px;
}

#tl-booking-form {
  z-index: 0;
}

#tl-hotel-select:hover,
#tl-hotel-select:focus {
  -webkit-appearance: none;
  outline: none;
}

select::-ms-expand {
  display: none;
}

