/* relax-in-comfort */
.relax-in-comfort {
  color: white; font-family: 'Cormorant Garamond', sans-serif !important;
  white-space: pre-line; text-transform: uppercase; font-weight: 700 !important;
  .golden { color: var(--golden-2); font-family: inherit !important;}
}

/* rating */
.rating {
  display: flex; justify-content: center;
  &-container {width: 100%; justify-content: space-between; }
  &-card {
    height: 145px;
    padding: 16px;
    margin-top: 20px;
    margin-right: 5px;
    border-radius: var(--bordrad23) !important;
    &:last-child { margin-right: 0; }
    &-container { height: 100%; }
    &-title {
      display: flex;
      align-items: center;
      color: black;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      white-space: pre-line;
    }
    &-text {
      color: black;
      white-space: pre-line;
      font-size: 14px !important;
    }
  }
  &-yandex {width: 257px;}
  &-tl-rep {
    width: 371px;
    &-title {color: black;}
    &-text {
      position: relative;
      top: -5px;
      color: black;
      font-size: 17px;
      font-weight: 400;
    }
    &-left, &-right { position: relative; top: 3px; }
    &-left { left: 5px; }
    &-right { right: 5px; }
  }
  &-we-care {
    width: 257px;
    &-star {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background: var(--golden-1)
    }
  }
  &-booking-comfort {width: 285px;}
  &-weather {
    width: 280px;
    &-text {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 30px;
      color: black;
      padding: 0 10px;
      margin-right: 3px;
      min-width: 62px;
      font-size: 12px;
      font-weight: 500;
      line-height: normal;
      border-radius: 8px;
      background: var(--golden-1);
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
/* pinterest */
.pinterest {
  &-card {
    position: relative;
    border-radius: var(--bordrad23) !important;
    &-container {
      display: flex;
      flex-wrap: wrap;
    }
    &-head {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-title {
      font-weight: 700;
      white-space: pre-line;
      color: var(--dark-color);
      text-transform: uppercase;
      font-family: 'Cormorant Garamond', sans-serif !important;
      & span {
        position: relative;
        top: 10px; left: 4px;
      }
      &--pinterest {
        width: 129px;
        height: 33px;
      }
    }
    &-text {
      margin-top: 30px;
      font-size: 14px;
      font-weight: 400;
      text-align: right;
      white-space: pre-line;
      color: var(--dark-color);
    }
    &-welcome {
      width: 100%;
      display: flex;
      justify-content: center;
      &-container {
        position: relative
      }
      &-round {
        position: absolute;
        left: 59%;
        top: 3.5%;
        z-index: 1000;
      }
      &--desktop {
        display: block;
        position: relative;
        width: 100%;
        height: 412px;
        max-width: 1200px;
      }
      &--tablet {
        display: none;
        position: relative;
        width: 100%;
        height: 370px;
        max-width: 525px;
      }
      &--mobile {
        display: none;
        position: relative;
        width: 100%;
        height: 246px;
        max-width: 349px;
      }
    }
  }
}

.hotelGroup {
  margin-top: 187px;
  &-title {
    margin-bottom: 38px;
    white-space: pre-line;
  }
  &-accordion {
    &-panel {
      background-color: transparent !important;
    }
    &-head {
      &.v-expansion-panel-header--active {
        .hotelGroup-accordion-count {
          color: #CCAB6A;
          border: .85px solid #CCAB6A;
        }
        .hotelGroup-accordion-title {
         color: #CCAB6A;
        }
        .hotelGroup-accordion-card {
          background: #CCAB6A;
          &-svg {
            transform: rotate(0deg);
            transition: transform .15s ease-in;
          }
        }
      }
      &-container {
        display: flex;
        width: 100%;
        align-items: center;
      }
    }
    &-count {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 67px;
      height: 36px;
      color: #B6B6B6;
      font-size: 18px;
      margin-right: 23px;
      border-radius: 85px;
      text-transform: uppercase;
      border: .85px solid #B6B6B6;
    }
    &-title {
      color: #B6B6B6;
      font-size: 50px;
      text-transform: uppercase;
      font-family: 'CharterC', sans-serif;
    }
    &-price {
      color: #B6B6B6;
      font-size: 30px;
      text-transform: uppercase;
    }
    &-card {
      display: flex;
      width: 56px;
      height: 56px;
      margin-left: 70px;
      border-radius: 13px;
      background: #B6B6B6;
      align-items: center;
      justify-content: center;
      &-svg {
        width: 34px;
        height: 34px;
        transform: rotate(90deg);
        transition: transform .15s ease-in;
      }
    }
    &-body {
      &-container {
        display: flex;
      }
    }
    &-info {
      &-head {
        display: flex;
        width: 100%;
        max-width: 432px;
        align-items: center;
      }
      &-logo {
        margin-right: 46px;
      }
      &-group {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      &-title {
        color: black;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
      }
      &-text {
        color: black;
        font-size: 12px;
        font-weight: 400;
        text-transform: lowercase;
      }
      &-delimiter {
        width: 2.55px;
        height: 32.3px;
        margin: 0 25px;
        background: var(--gradiend-golden);
      }
      &-body {
        color: black;
        width: 100%;
        margin-top: 13px;
        font-weight: 400;
        font-size: 13.6px;
        max-width: 432px;
        font-style: normal;
        line-height: normal;
        white-space: pre-line;
      }
      &-footer {
        width: 100%;
        max-width: 475px;
        margin-top: 20px;
      }
      &-button {
        height: 34px;
        min-width: 0;
        min-height: 0;
        margin-right: 10px;
        margin-bottom: 8px;
        color: var(--dark-color);
        font-size: 12px !important;
        font-weight: 700 !important;
        background: var(--card-grey) !important;
        &:first-child {
          color: white !important;
          background: var(--gradiend-golden) !important;
        }
      }
    }
  }
}

/* specialOffers */
.specialOffers {
  margin-top: 85px;
  &-container {
    flex-direction: row;
    justify-content: space-between;
  }
  &-info {
    &-title {
      color: var(--dark-color);
      white-space: pre-line !important;
    }
    &-text {
      font-size: 13px;
      white-space: pre-line;
    }
  }
  &-slider {
    position: relative;
    width: 100%;
    max-width: calc(80% - 300px);
    margin-left: 155px;
    &-prev {
      position: absolute;
      left: 5%;
      bottom: 50%;
      z-index: 1000;
    }
    &-next {
      position: absolute;
      left: 86%;
      bottom: 50%;
      z-index: 1000;
    }
  }
}
.specialOffers-slide + .specialOffers-slide {
  margin-left: 15px;
}
/* seasonPrograms */
.seasonPrograms {
  margin-top: 120px;
  &-item {
    margin-right: 5px;
    border-radius: 23px !important;
    &-container {
      position: relative;
      width: inherit;
      height: inherit;
    }
    &-text {
      position: absolute;
      left: -50px; top: 50px;
      width: 165px;
      height: 63px;
      background: rgba(217, 217, 217, 1);
      transform: rotate(-90deg);
      font-weight: 700;
      border-radius: 23px !important;
      &.summer { background: rgba(217, 217, 217, 1); }
      &.winter { background: var(--cold-grey); }
    }
  }
  &-card {
    margin: 0 5px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    &-container {
      display: flex;
      flex-direction: column;
      width: 90%; height: 75%;
    }
    &-header {display: flex;}
    &-title {
      color: black;
      font-size: 15px;
      font-weight: 700;
      margin-left: 23px;
      white-space: pre-line;
      text-transform: uppercase;
    }
    &-text {
      color: black;
      font-size: 14px;
      font-weight: 400;
    }
    &.free-transfer {width: 380px;}
    &.live-music {width: 380px;}
    &.fun-for-kids {width: 570px;}
    &.ski-room {width: 570px;}
    &.heated-pool {width: 392px;}
  }
  &-more {
    margin-left: 5px;
    width: 63px;
    height: 165px;
    &-container { position: relative; width: inherit; height: inherit; }
    &-text {
      position: absolute;
      left: -83px;
      top: -32px;
      width: 165px;
      height: 63px;
      transform: rotate(-90deg);
      font-weight: 700;
      &.summer { background: rgba(217, 217, 217, 1); }
      &.winter { background: var(--cold-grey); }
    }
  }
}
/* reviews */
.reviews {
  margin-top: 80px;
  &-container { flex-direction: row; justify-content: space-between; }
  &-title {
    font-family: 'CharterC', sans-serif !important;
    white-space: pre-line; color: var(--dark-color);
  }
  &-cards {
    width: 100%;
    max-width: 50%;
    &-group {
      &-gradient {
        &-card {
          height: 66px;
          width: 100%;
          max-width: 305px;
          &-round {
            width: 38px;
            height: 38px;
            &-img {
              width: 20px;
              height: 20px;
            }
          }
        }
        &-title {
          font-size: 13px !important;
          color: white !important;
          font-weight: 400 !important;
          white-space: pre-line !important;
        }
      }
      &-transparent {
        &-title {
          color: #000;
          font-size: 13px;
          font-weight: 500;
          white-space: pre-line;
        }
        &-button {
          font-weight: 700;
          border-radius: 0 !important;
          font-size: 14px !important;
          border-bottom: 3px dashed #CCAC6C;
        }
      }
    }
  }
  &-slider {width: 100%;max-width: 50%;}
}



.button-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  transform: rotate(90deg);
  cursor: pointer;
  & span {
    display: block;
    width: 10px;
    height: 10px;
    margin: -10px;
    transform: rotate(45deg);
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    animation: animate 2s infinite;
    &:nth-child(2) {
      animation-delay: -0.2s;
    }
    &:nth-child(3) {
      animation-delay: -0.4s;
    }
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.watch-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px;
  height: 143px;
  border-radius: 100%;
  background: var(--card-grey);
  &.ultima {
    position: absolute;
    top: -24px;
    left: 51px;
    width: 106px;
    height: 106px;
    background: var(--background);
    .watch-video {
      &-container {
        width: 90px;
        height: 90px;
      }
      &-rotate {
        width: 70px;
        height: 70px;
      }
      &-arrow {
        width: 31px;
        height: 31px;
      }
    }
  }
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: var(--dark-color);
  }
  &-play {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    width: 87px;
    height: 87px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(131deg,
    rgba(217, 217, 217, 0.50) 13.16%,
    rgba(217, 217, 217, 0.00) 95.45%);
    backdrop-filter: blur(13px);
    border-radius: 100%;
    &-icon {
      width: 27px;
      height: 27px;
    }
  }
  &-arrow {
    width: 43px; height: 43px;
    position: absolute !important;
  }
  &-rotate {
    position: relative; top: 2px;
    width: 90px; height: 90px;
    animation: spin 16s linear infinite;
    -moz-animation: spin 16s linear infinite;
    -webkit-animation: spin 16s linear infinite;
  }
}
/* restInPolyana */
.restInPolyana {
  &-head {
    margin: 15px auto 30px;
  }
  &-title {
    font-family: "Cormorant Infant", sans-serif;
    color: black;
    font-size: 26px;
    font-weight: 700;
    line-height: 164% !important;
    white-space: pre-line;
    text-transform: uppercase;
    &-chip {
      color: white;
      padding: 5px 10px;
      line-height: 173.1%;
      border-radius: 100px;
      font-family: "Cormorant Infant", sans-serif;
    }
  }
  &-pictures {
    &-large {
      position: relative;
      &-img {
        margin: 5px;
        width: 866px;
        height: 391px;
        object-fit: cover;
        & * {
          display: block;
          width: inherit;
          height: inherit;
          border-radius: 19.55px;
        }
      }
    }
    &-small {
      &-img {
        margin: 5px;
        width: 191px;
        height: 191px;
        object-fit: cover;
        & * {
          display: block;
          width: inherit;
          height: inherit;
          border-radius: 19.55px;
        }
        &:last-child {
          position: relative;
        }
        &-more {
          display: flex;
          position: absolute;
          justify-content: center;
          align-items: center;
          width: 191px;
          height: 191px;
          top: 0; left: 0;
          color: #000000CC;
          font-size: 15px;
          font-weight: 700;
          border-radius: 19.55px;
          background: rgba(217, 217, 217, 0.76);
        }
      }
    }
  }
}
/* luxHoliday */
.luxHoliday {
  margin-top: 140px;
  &-head {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    align-self: flex-start; // <-fix
  }
  &-title {
    font-family: 'CharterC', sans-serif;
    white-space: pre-line;
  }
  &-text {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin: 23px 0 26px;
    white-space: pre-line;
  }
  &-btn {
    font-weight: 400;
    font-size: 12px !important;
  }
  &-slide {
    position: relative;
    width: 757px !important;
    height: 391px !important;
    border-radius: 19.55px;
    &-title {
      position: absolute;
      left: 8px;
      bottom: 0;
      font-size: 30px;
      font-weight: 400;
      color: var(--dark-color);
      line-height: 150.3% !important;
      font-family: 'CharterC', sans-serif;
      text-transform: uppercase;
      white-space: pre-line;
    }
    &-arrow {
      position: relative;
      top: 2px;
      left: 25px;
      width: 22px;
      height: 22px;
    }
    &.slider {
      margin: 45px 0;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
.breadcrumbs {
  margin-top: 30px;
  &-container {
    display: flex;
  }
  &-button {
    border-radius: 8px
  }
  &-content {
    display: flex;
    width: 373px;
    height: 35px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    font-style: normal;
    line-height: normal;
    border-radius: 10px;
    background: #D9D9D9;
    align-items: center;
    justify-content: center;
    color: var(--dark-color);
    &-delimiter {
      margin: 0 8px;
    }
  }
}
