/* relax-in-comfort */
.relax-in-comfort {
  color: white; font-family: 'Cormorant Garamond' !important;
  white-space: pre-line; text-transform: uppercase; font-weight: 700 !important;
  .golden { color: var(--golden-2); font-family: inherit !important;}
}

/* rating */
.rating {
  display: flex; justify-content: center;
  &-container {width: 100%; justify-content: space-between; }
  &-card {
    margin-top: 20px; margin-right: 5px; padding: 15px 20px; border-radius: var(--bordrad23) !important;
    &-container { height: 100%; }
    &:last-child { margin-right: 0; }
    &-title {
      color: black;
      white-space: pre-line;
      font-size: 18px !important;
      font-weight: 700 !important;
      text-transform: uppercase;
    }
    &-text {color: black;white-space: pre-line;font-size: 16px !important;}
  }
  &-yandex {width: 257px;}
  &-tl-rep {
    width: 371px;
    &-title {color: black;}
    &-text {
      position: relative; top: -5px;
      color: black !important;
      font-size: 20px !important;
      font-weight: 400 !important;
    }
    &-left, &-right { position: relative; top: 3px; }
    &-left { left: 5px; }
    &-right { right: 5px; }
  }
  &-we-care {
    width: 257px;
    &-star {
      color: black;width: 50px;height: 50px;
      font-size: 50px;font-weight: 900 !important;
      text-transform: uppercase;border-radius: 50%;
      background: var(--golden-1)
    }
  }
  &-booking-comfort {width: 285px;}
  &-weather {
    width: 280px;
    &-text {
      color: black;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 14px !important;
      font-weight: 500 !important;
    }
  }
}

/* pinterest */
.pinterest {
  &-card {
    position: relative;
    border-radius: var(--bordrad23) !important;
    &-title {
      color: var(--dark-color);
      font-family: 'Cormorant Garamond' !important;
      font-weight: 700 !important;
      white-space: pre-line;
      text-transform: uppercase;
      & span { position: relative; top: 10px; left: 4px; }
    }
    &-text {
      position: absolute;
      top: -90px;width: inherit;color: black;
      white-space: pre-line !important;
      text-align: right !important;
      font-size: 16px !important;
      font-weight: 400 !important;
    }
    &-welcome {&-wrapper { position: relative; width: 485px; }}
  }
  &-video {
    &-aboutHotels {
      position: relative; left: 60%; top: 30px;
      border: 11px solid var(--card-grey) !important;
      &-play { position: absolute !important; }
      &-rotate {
        -webkit-animation: spin 8s linear infinite;
        -moz-animation: spin 8s linear infinite;
        animation: spin 8s linear infinite;
      }
    }
  }
}

/* hotelGroup */
.hotelGroup {
  margin-top: 220px;
  &-line { width: 100%; height: 1px; background: #d0cfce; }
  &-title {
    color: var(--dark-color);
    font-weight: 400 !important;
    white-space: pre-line !important;
  }
  &-accordion {
    &-item {
      &--header {
        &-count {width: 79px;height: 42px;font-weight: 500;border-radius: 100px;border: 1px solid #CCAB6A;text-transform: uppercase;}
        &-title {font-family: 'CharterC' !important;font-weight: 400 !important;}
        &-price {color: #B6B6B6;font-weight: 400 !important;}
        &-arrow {width: 66px;height: 66px;border-radius: 16px;background: var(--gradiend-golden);}
      }
    }
  }
}

/* specialOffers */
.specialOffers {
  margin-top: 85px;
  &-container {flex-direction: row;justify-content: space-between;}
  &-info {
    width: 100% !important; max-width: 410px !important;
    &-title {color: var(--dark-color); white-space: pre-line !important;}
    &-text {
      white-space: pre-line;
      & * {font-size: 16px !important; white-space: pre-line !important;}
    }
  }
  &-slider {width: 100%; max-width: calc(80% - 360px); margin-left: 155px;}
}

/* seasonPrograms */
.seasonPrograms {
  margin-top: 120px;
  &-item {
    margin-right: 5px;
    &-container { position: relative; width: inherit; height: inherit; }
    &-text {
      position: absolute;
      left: -50px; top: 50px;
      width: 165px; height: 63px;
      background: rgba(217, 217, 217, 1);
      transform: rotate(-90deg);
      &.summer { background: rgba(217, 217, 217, 1); }
      &.winter { background: var(--cold-grey); }
    }
  }
  &-card {
    margin: 0 5px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    &-container {display: flex; flex-direction: column; width: 90%; height: 78%;}
    &-header {display: flex;}
    &-image {width: 60px; height: 60px;}
    &-title {
      color: black;
      font-size: 18px !important;
      white-space: pre-line;
      font-weight: 700 !important;
      text-transform: uppercase;
    }
    &.free-transfer {width: 380px;}
    &.live-music {width: 380px;}
    &.fun-for-kids {width: 570px;}
    &.ski-room {width: 570px;}
    &.heated-pool {width: 392px;}
  }
  &-more {
    margin-left: 5px;
    &-container { position: relative; width: inherit; height: inherit; }
    &-text { position: absolute;left: -83px; top: -32px;width: 165px; height: 63px;transform: rotate(-90deg);
      &.summer { background: rgba(217, 217, 217, 1); }
      &.winter { background: var(--cold-grey); }
    }
  }
}

/* reviews */
.reviews {
  margin-top: 80px;
  &-container {flex-direction: row;justify-content: space-between;}
  &-title {
    color: var(--dark-color);
    font-family: 'CharterC' !important;
    white-space: pre-line;
  }
  &-cards {width: 100%;max-width: 50%;
    &-group {
      &-gradient {
        &-card {
          height: 78px;
          width: 100%;
          max-width: 359px;
          &-round {
            width: 45px;
            height: 45px;
            &-img {
              width: 32px;
              height: 32px;
            }
          }
        }
        &-title {
          color: white !important;
          font-weight: 400 !important;
          white-space: pre-line !important;
        }
      }
      &-transparent {
        &-title {white-space: pre-line;}
        &-button {
          border-radius: 0 !important;
          font-size: 16px !important;
          border-bottom: 3px dashed #CCAC6C;
        }
      }
    }
  }
  &-slider {width: 100%;max-width: 50%;}
}
