/* specialOffers */
.specialOffers {
  margin-top: 60px
}

.specialOffers-container {
  flex-direction: row;
  justify-content: space-between;
}

.specialOffers-info-text {
  display: block;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: pre-line;
}

.specialOffers-slider {
  position: relative;
  width: 100%;
  max-width: calc(80% - 300px);
  margin-left: 155px;
}

.specialOffers-slider-arrow {
  position: absolute;
  width: 6.5px;
  height: 6.5px;
  transform: rotate(45deg);
}

.specialOffers-slider-arrow.prev {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.specialOffers-slider-arrow.next {
  left: -3px;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.specialOffers-slide {
  margin-right: 15px;
}

.specialOffers-slide:last-child {
  margin-right: 0;
}

.specialOffers-slide-promo {
  margin-top: 15px;
}

.specialOffers-promo {
  margin-top: 35px;
}

.specialOffers-promo-chips {
  margin-top: 15px;
}

.specialOffers-promo-chips-title {
  color: black;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.specialOffers-promo-reviews {
  width: 100%;
}

.specialOffers-promo-reviews-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.specialOffers-promo-reviews-card {
  margin-right: 15px;
  margin-bottom: 15px;
}

/* reviews */
.reviews {
  margin-top: 80px;
}

.reviews-container {
  flex-direction: row;
  justify-content: space-between;
}

.reviews-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviews-cards-group-gradient-card {
  height: 66px;
  width: 100%;
  max-width: 305px;
  padding: 15px 10px;
}

.reviews-cards-group-gradient-card-round {
  width: 38px;
  height: 38px;
  background: white;
  border-radius: 100%;
}

.reviews-cards-group-gradient-card-round-img {
  width: 20px;
  height: 20px;
}

.reviews-cards-group-gradient-title {
  color: white;
  font-size: 13px;
  font-weight: 400;
  white-space: pre-line;
}

.reviews-cards-group-transparent-title {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  white-space: pre-line;
}

.reviews-cards-group-transparent-button {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  border-radius: 0 !important;
  border-bottom: 3px dashed #CCAC6C;
}

.reviews-slider {
  position: relative;
  width: 100%;
  height: 301px;
  margin-top: 40px;
}

.reviews-slider::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  z-index: 200;
  background: linear-gradient(90deg, var(--background) 0, hsla(30, 10%, 96%, 0) 100%) !important;
}

.reviews-slider::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 120px;
  height: 100%;
  z-index: 200;
  background: linear-gradient(270deg, var(--background) 0, hsla(30, 10%, 96%, 0) 100%) !important;
}

.reviews-slider-carousel {
  width: 100%;
  max-width: 585px !important;
}

.reviews-slider-arrow {
  position: absolute;
  width: 6.5px;
  height: 6.5px;
  transform: rotate(45deg);
}

.reviews-slider-arrow.prev {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.reviews-slider-arrow.next {
  left: -3px;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.reviews-slider-card {
  width: 585px;
  height: 301px;
  padding: 15px 13px;
  border-radius: 19.55px !important;
}

.reviews-slider-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews-slider-card-header-user {
  display: flex;
  align-self: center;
}

.reviews-slider-card-header-logo {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.reviews-slider-card-header-logo img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.reviews-slider-card-header-hotel {
  font-size: 14px;
}

.reviews-slider-card-header-context {
  display: flex;
  height: 40px;
  margin-left: 15px;
  align-items: center;
}

.reviews-slider-card-header-name {
  color: #00007b;
  font-size: 14px;
  font-weight: bold;
}

.reviews-slider-card-stars {
  display: flex;
  height: 30px;
  align-items: center;
}

.reviews-slider-card-stars-star {
  width: 18px;
  height: 18px;
}

.reviews-slider-card-date {
  font-size: 13px;
  margin-top: 2px;
  margin-left: 10px;
}

.reviews-slider-card-description {
  color: black;
  height: 84px;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  overflow-y: hidden;
  white-space: pre-line;
}

.reviews-slider-card-images {
  display: flex;
  max-width: 540px;
  overflow-x: hidden;
  margin-top: 8px;
  cursor: pointer;
}

.reviews-slider-card-images-img {
  display: block;
  margin: 2px;
  width: 108px;
  height: 108px;
  object-fit: cover;
  border-radius: 8px;
  background: var(--card-grey);
}

.reviews-slider-card-images-img:first-child {
  margin-left: 0;
}

.button-arrow {
  position: absolute;
  top: -3px;
  left: -50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  cursor: pointer;
}

.button-arrow span {
  display: block;
  width: 6px;
  height: 6px;
  margin: -8px;
  transform: rotate(45deg);
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  animation: animate 2s infinite;
}

.button-arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.button-arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

.watch-video.inside {
  position: absolute;
  top: -24px;
  left: 51px;
  width: 106px;
  height: 106px;
  background: var(--background);
}

.watch-video.inside .watch-video-container {
  width: 90px;
  height: 90px;
}

.watch-video.inside .watch-video-rotate {
  width: 70px;
  height: 70px;
}

.watch-video.inside .watch-video-arrow {
  width: 31px;
  height: 31px;
}

.watch-video-player {
  width: 100%;
  height: 490px;
}

.watch-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px;
  height: 143px;
  cursor: pointer;
  border-radius: 100%;
  background: var(--card-grey);
}

.watch-video-player-container {
  display: flex;
  height: 490px;
  justify-content: center;
  align-items: flex-end;
}

.watch-video-player-close {
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: 100;
  color: #ff5252 !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.watch-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: var(--dark-color);
}

.watch-video-play {
  position: absolute;
  display: flex;
  width: 100%;
  top: 50%;
  align-items: center;
  justify-content: center;
}

.watch-video-play-button {
  display: flex;
  width: 87px;
  height: 87px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(131deg,
  rgba(217, 217, 217, 0.50) 13.16%,
  rgba(217, 217, 217, 0.00) 95.45%);
  backdrop-filter: blur(13px);
  border-radius: 100%;
}

.watch-video-play-icon {
  width: 27px;
  height: 27px;
}

.watch-video-arrow {
  width: 43px;
  height: 43px;
  position: absolute !important;
}

.watch-video-rotate {
  position: relative;
  top: 2px;
  width: 90px;
  height: 90px;
  animation: spin 16s linear infinite;
  -moz-animation: spin 16s linear infinite;
  -webkit-animation: spin 16s linear infinite;
}

.grid-item {
  padding: 4px;
}

.grid-item:nth-child(1) {
  grid-row: 1 / 5;
  grid-column: 1 / 9;
}

.grid-item:nth-child(2) {
  grid-row: 1 / 3;
  grid-column: 9 / 11;
}

.grid-item:nth-child(3) {
  grid-row: 1 / 3;
  grid-column: 11 / 13;
}

.grid-item:nth-child(4) {
  grid-row: 3 / 5;
  grid-column: 9 / 11;
}

.grid-item:nth-child(5) {
  grid-row: 3 / 5;
  grid-column: 11 / 13;
}

/* restInPolyana */
.restInPolyana-head {
  margin: 15px auto 30px;
}

.restInPolyana-body-container {
  display: grid;
  gap: 0;
  width: 100%;
  height: 391px;
  max-width: 1360px;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.restInPolyana-title {
  font-family: "Cormorant Infant", sans-serif;
  color: black;
  font-size: 26px;
  font-weight: 700;
  line-height: 164% !important;
  white-space: pre-line;
  text-transform: uppercase;
}

.restInPolyana-title-chip {
  color: white;
  padding: 5px 10px;
  line-height: 173.1%;
  border-radius: 100px;
  font-family: "Cormorant Infant", sans-serif;
}

.restInPolyana-pictures-large {
  position: relative;
}

.restInPolyana-pictures-large-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.restInPolyana-pictures-large-img * {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 19.55px;
}

.restInPolyana-pictures-small-img {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.restInPolyana-pictures-small-img * {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 19.55px;
}

.restInPolyana-pictures-small-img:last-child {
  position: relative;
}

.restInPolyana-pictures-small-img-more {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: -100%;
  left: 0;
  color: #000000CC;
  font-size: 15px;
  font-weight: 700;
  border-radius: 19.55px;
  background: rgba(217, 217, 217, 0.76);
}

.flexbox-wrapper {
  display: flex;
  justify-content: space-between;
}

/* luxHoliday */
.luxHoliday {
  margin-top: 60px;
}

.luxHoliday-head {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  width: 100%;
  max-width: 530px;
  align-self: flex-start; /* <-fix */
}

.luxHoliday-text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin: 23px 0 26px;
  white-space: pre-line;
}

.luxHoliday-text p {
  margin-bottom: 0 !important;
}

.luxHoliday-btn {
  font-weight: 400;
  font-size: 12px !important;
}

.luxHoliday-slide {
  width: 757px;
  position: relative;
  border-radius: 20px;
}

.luxHoliday-slide-image {
  display: block;
  width: 100%;
  height: 391px;
  object-fit: cover
}

.luxHoliday-slide-body {
  position: absolute;
  left: -1px;
  bottom: -1px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.luxHoliday-slide-title {
  position: absolute;
  left: 10px;
  bottom: 0;
  font-size: 30px;
  font-weight: 400;
  color: var(--dark-color);
  line-height: 150.3% !important;
  font-family: 'CharterC', sans-serif;
  text-transform: uppercase;
  white-space: pre-line;
}

.luxHoliday-slide-arrow {
  position: relative;
  top: 2px;
  left: 25px;
  width: 22px;
  height: 22px;
}

.luxHoliday-slide.slider {
  margin: 45px 0;
}

.luxHoliday-slide.slider:first-child {
  margin-top: 0;
}

.breadcrumbs {
  margin-top: 30px;
}

.breadcrumbs-container {
  display: flex;
}

.breadcrumbs-button {
  border-radius: 8px
}

.breadcrumbs-content {
  display: flex;
  width: auto;
  height: 35px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400;
  max-width: 373px;
  margin-left: 10px;
  font-style: normal;
  line-height: normal;
  border-radius: 10px;
  background: #D9D9D9;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
}

.breadcrumbs-content-delimiter {
  margin: 0 8px;
}

.breadcrumbs-content-link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: var(--dark-color) !important;
}

.gallery-carousel {
  position: relative;
  background: #51515150;
  backdrop-filter: blur(50px);
  border-radius: 19.55px;
}

.gallery-carousel-close {
  position: absolute !important;
  top: 10px;
  right: 10px;
  z-index: 100;
  color: #ff5252 !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.gallery-carousel-close.weather {
  position: relative !important;
  top: 50px !important;
  right: 30px !important;
  background: var(--card-grey) !important;
  z-index: 1000 !important;
}

.gallery-slide {
  margin: 0 auto;
  width: 100vw !important;
  height: 80vh !important;
  max-width: 80%;
  border-radius: 19.55px;
}

.gallery-slide-wrapper {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.gallery-slide-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.conditions-head {
  margin-bottom: 15px;
}

.conditions-body {
  width: 100%;
}

.conditions-body-container {
  display: flex;
  justify-content: space-between;
}

.conditions-title {
  color: black;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.conditions-text {
  color: black;
  width: 100%;
  max-width: 800px;
  font-size: 15.3px;
  line-height: normal;
  white-space: pre-line;
  margin-bottom: 0 !important;
}

.seeYouAtHotel-container {
  width: 100%;
  max-width: 580px;
}

.seeYouAtHotel-chip {
  margin: 4px !important;
  height: 31.45px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.seeYouAtHotel-chip:first-child {
  margin-left: 0 !important;
}

.seeYouAtHotel-chip:last-child {
  margin-right: 0 !important;
}

.seeYouAtHotel-address {
  justify-content: space-between;
}

.seeYouAtHotel-address-text {
  color: black;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.7px;
  white-space: pre-line;
}

.seeYouAtHotel-address-text a {
  color: black !important;
}

.contacts-map {
  position: relative;
  width: 100%;
  height: 360px;
  max-width: 675px;
}

.contacts-iframe {
  width: 100%;
  height: 100vh;
  border: none;
  outline: none;
  max-height: 360px;
  border-radius: 19.55px;
}

.contacts-btn-group {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.contacts-btn-group-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.requisites-title {
  color: #000;
  font-size: 14.45px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
