@media (max-width: 1600px) {
  /* header */
  .header {
    &-body {
      height: auto !important;
    }
    &-booking {
      margin-bottom: 10px !important;
    }
  }
}

/* max-width: 1200px */
@media (max-width: 1200px) {
  /* rating */
  .rating {
    &-container {
      flex-wrap: wrap;
      justify-content: start !important;
    }
  }
  /* hotelGroup */
  .hotelGroup-accordion {
    &-body-container {
      flex-direction: column !important;
    }
    &-info {
      margin: 0 auto;
    }
    &-gallery {
      margin: 25px auto 0;
    }
  }
  /* footer */
  .footer {
    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center !important;
      justify-content: center;
    }
    &-service {
      flex-wrap: wrap;
      margin: 30px auto 15px !important;
      width: auto !important;
      max-width: none !important;
    }
    &-seeYouAtHotel {
      &-address {
        flex-wrap: wrap;
        margin: 30px auto 15px !important;
      }
    }
    &-booking {
      margin: 35px 10px 10px;
      width: 298px !important;
    }
    &-helpInfo {
      flex-wrap: wrap;
    }
  }
  /* specialOffers */
  .specialOffers {
    &-container {
      padding: 0 !important;
      width: 100% !important;
    }
    &-info {
      margin: 0 auto !important;
    }
    &-slider {
      &-prev {
        top: -210px !important;
      }
      &-next {
        top: -210px !important;
        left: 76% !important;
      }
    }
  }
}
