@media (max-width: 1600px) {
  /* header */
  .header {
    &-body {
      height: auto !important;
    }
    &-booking {
      margin-bottom: 10px !important;
    }
  }
}

/* max-width: 1200px */
@media (max-width: 1200px) {
  /* rating */
  .rating {
    &-container {
      flex-wrap: wrap;
      justify-content: start !important;
    }
  }

  /* footer */
  .footer {
    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center !important;
      justify-content: center;
    }
    &-service {
      flex-wrap: wrap;
      margin: 30px auto 15px !important;
      width: auto !important;
      max-width: none !important;
    }
    &-seeYouAtHotel {
      &-address {
        flex-wrap: wrap;
        margin: 30px auto 15px !important;
      }
      &-photo { margin-top: 35px; }
    }
    &-booking {
      margin: 10px;
      margin-top: 35px;
      width: 298px !important;
    }
    &-helpInfo {
      flex-wrap: wrap;
    }
  }

  /* specialOffers */

  .specialOffers {
    &-container {
      padding: 0 !important;
      width: 100% !important;
      flex-direction: column !important;
      justify-content: center !important;
    }
    &-info {
      margin: 0 auto !important;
      max-width: 410px !important;
      &-text {
        & * {
          font-size: 14px !important;
        }
      }
    }
    &-slider {
      margin: 50px auto 0 !important;
      max-width: 370px !important;
    }
  }
}
