/* max-width: 1160px */
@media (max-width: 1160px) {
  /* header */
  .header {
    &-booking {
      max-width: 95% !important;

      &.ultima {
        display: none !important;
      }
    }
  }

  /* restInPolyana */
  .restInPolyana {
    &-body {
      &-container {
        flex-wrap: wrap;
      }
    }
  }

  /* conditions */
  .conditions-form {
    margin-left: 30px;
  }
}

@media (max-width: 1100px) {
  /* header */
  .header {
    &-nav {
      &-container {
        &-inner {
          flex-direction: row-reverse !important;
        }
      }

      &__menu {
        margin: 0 auto !important;
      }

      &__logo {
        margin: 0 !important;
      }

      &__link {
        display: none !important;

        &.restaurant {
          margin: 0 !important;
        }
      }
    }

    &-content {
      &__season {
        display: none !important;
      }
    }
  }

  /* seasonPrograms */
  .seasonPrograms {
    &-item {
      width: 100% !important;
      height: 63px !important;
      margin: 10px 0 !important;

      &-text {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        transform: none !important;
        width: auto !important;
        height: 100% !important;
      }
    }

    &-more {
      width: 100% !important;
      height: 63px !important;
      margin: 10px 0 !important;

      &-text {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        transform: none !important;
        width: 100% !important;
        height: 100% !important;
      }
    }

    &-card {
      width: 100% !important;
      margin: 10px 0 !important;
      height: 100% !important;
      padding: 13px 6px;
      min-height: 140px;
    }

    &-group {
      flex-direction: column !important;
    }
  }

  /* reviews */
  .reviews {
    &-container {
      flex-direction: column !important;
      justify-content: initial;
    }

    &-cards {
      &-group {
        &-gradient {
          &-card {
            height: 65px !important;

            &-round {
              width: 25px !important;
              height: 25px !important;

              &-img {
                width: 17px !important;
                height: 17px !important;
              }
            }
          }
        }
      }
    }

    &-slider {
      margin-top: 20px !important;
    }
  }
}

@media (max-width: 1058px) {
  #block-search {
    min-height: 150px !important;
  }
}

@media (max-width: 960px) {
  /* header */
  .header {
    &-body {
      &-container {
        margin: 20px auto !important;
      }
    }

    &-slider {
      max-width: none !important;

      &-arrow {
        &--desktop {
          display: none !important;
        }

        &--mobile {
          display: block !important;
        }
      }

      &--desktop {
        display: none !important;
      }

      &--mobile {
        display: block !important;
      }

      &-container {
        flex-direction: row !important;
      }

      &__slider {
        flex-direction: row !important;
      }

      &__slide {
        margin: 0 7px !important;
      }
    }

    &-container {
      max-height: none !important;
    }

    &-booking {
      height: auto !important;

      &-container {
        flex-direction: column !important;
      }

      &-delimiter {
        width: 100% !important;
        height: 1px !important;
      }

      &__card {
        max-width: none !important;
      }
    }

    &-container {
      background-size: 100% auto !important;
      background-position: bottom !important;

      &-inner {
        background: linear-gradient(181deg,
        #181A23 15.5%, rgba(0, 0, 0, 0.00) 70.79%) !important;
      }
    }
  }

  /* pinterest */
  .pinterest {
    &-card {
      &-title {
        &--pinterest {
          width: 95px !important;
          height: 29px !important;
        }
      }
    }
  }

  /* exclusive */
  .exclusive {
    margin-bottom: 90px;

    &-container {
      padding: 20px 0;
      height: auto !important;
    }

    &-content {
      margin-right: 0 !important;
    }

    &-form {
      position: relative !important;
      bottom: 10px !important;

      &.inside {
        display: none !important;
      }

      &.outside {
        display: block !important;
      }
    }
  }

  /* specialOffers */
  .specialOffers {
    &-container {
      flex-direction: column !important;
      justify-content: center !important;
    }

    &-info {
      max-width: 410px !important;
    }

    &-slider {
      margin: 50px auto 0 !important;
      max-width: 370px !important;
    }
  }

  /* hotelGroup= */
  .hotelGroup-panel {
    &-count {
      width: 62px;
      height: 33px;
      font-size: 17px !important;
    }

    &-title {
      font-size: 24px !important;

      &.desktop {
        display: none !important;
      }

      &.mobile {
        display: block !important;
      }
    }

    &-price {
      font-size: 21px !important;
      margin: 0 auto;
    }

    &-card {
      width: 40px !important;
      height: 40px !important;
      margin-left: 0 !important;

      &-svg {
        width: 25px !important;
        height: 25px !important;
      }
    }
  }

  /* seasonPrograms */
  .seasonPrograms {
    margin-top: 20px !important;
  }

  /* feedbackForm */
  .feedbackForm {
    background: #32343ACC !important;
  }

  /* rating */
  .rating {
    &-container {
      flex-direction: column !important;
    }

    &-card {
      width: 100% !important;
      margin-right: 0 !important;
    }
  }

  .seeYouAtHotel {
    margin: 0 !important;
    padding: 0 !important;

    &-container {
      width: 100% !important;
      margin: 30px auto 0;
      max-width: 300px !important;
    }

    &-address {
      margin-top: 0 !important;
      align-items: center;
      justify-content: center;
      flex-direction: column !important;

      &-container {
        width: 284px;
      }
    }

    &-photo {
      margin-top: 35px;
    }
  }

  .luxHoliday {
    margin-top: 40px !important;
  }

  .restInPolyana {
    &-title {
      font-size: 20px !important;
    }

    &-body {
      &-container {
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr !important;
        height: 550px !important;
      }
    }
  }

  .grid-item {
    padding: 4px;

    &:nth-child(1) {
      grid-row: 1 / 4 !important;
      grid-column: 1 / 5 !important;
    }

    &:nth-child(2) {
      grid-row: 4 / 6 !important;
      grid-column: 1 / 3 !important;
    }

    &:nth-child(3) {
      grid-row: 4 / 6 !important;
      grid-column: 3 / 5 !important;
    }

    &:nth-child(4) {
      grid-row: 6 / 8 !important;
      grid-column: 1 / 3 !important;
    }

    &:nth-child(5) {
      grid-row: 6 / 8 !important;
      grid-column: 3 / 5 !important;
    }
  }
}

@media (max-width: 938px) {
  #block-search {
    min-height: 234px !important;
  }
}

@media (max-width: 800px) {
  /* header-booking */
  .header {
    &-nav__menu-content {
      &-body-container {
        padding-top: 25px !important;
      }

      &-close {
        width: 36.5px !important;
        margin-bottom: 20px !important;

        &-button {
          width: 36px !important;
          height: 36px !important;
          font-size: 12px !important;

          &-svg {
            width: 29px !important;
            height: 29px !important;
          }
        }

        &-text {
          font-size: 7px !important;
        }
      }

      &-link {
        &-count {
          width: 50px !important;
          height: 27px !important;
          font-size: 14px !important;
        }

        &-title {
          font-size: 22px !important;
        }

        &-arrow {
          width: 16px !important;
          height: 16px !important;
        }
      }

      &-bookingInfo {
        margin: 10px 0 !important;
      }

      &-footer {
        margin-top: 30px;
        height: auto !important;
        padding: 20px 0 !important;
      }
    }
  }

  /* luxHoliday */
  .luxHoliday {
    &-container {
      flex-direction: column;
      justify-content: center !important;
      align-items: center;
    }

    &-head {
      position: relative !important;
      align-self: auto !important;
      top: 0 !important;
    }

    &-body {
      margin-top: 35px;
    }

    &-slide {
      width: 373px !important;
      height: 263px !important;
    }
  }

  /* hotelGroup */
  .hotelGroup-panel {
    &-info {
      margin: 15px auto;

      &-head {
        justify-content: space-around;
      }

      &-title {
        font-size: 18px !important;
      }

      &-text {
        font-size: 14px !important;
      }

      &-body {
        padding-right: 0;
        font-size: 14px !important;
      }

      &-footer {
        max-width: 420px !important;

        &.desktop {
          display: none !important;
        }

        &.mobile {
          display: block !important;
        }
      }
    }

    &-gallery {
      &-group {
        margin-right: 0 !important;
      }

      &-container {
        flex-direction: column;
      }

      &-image {
        margin-top: 8px;
        margin-bottom: 8px;
        max-width: 420px !important;
        max-height: none !important;
      }

      &-footer {
        display: block !important;
      }
    }
  }

  /* pinterest */
  .pinterest {
    &-card {
      &-text {
        text-align: left !important;
        white-space: normal !important;
      }

      &-welcome {
        margin-top: 30px;

        &--desktop {
          display: none !important;
        }

        &--tablet {
          display: block !important;
        }

        &--mobile {
          display: none !important;
        }
      }
    }
  }

  /* watch-video */
  .watch-video {
    width: 88px !important;
    height: 88px !important;

    &-container {
      width: 72px !important;
      height: 72px !important;
    }

    &-play {
      &-button {
        width: 54px !important;
        height: 54px !important;
      }

      &-icon {
        width: 16px !important;
        height: 16px !important;
      }
    }

    &-arrow {
      width: 26px !important;
      height: 26px !important;
    }

    &-rotate {
      width: 58px !important;
      height: 58px !important;
    }
  }

  .reviews-slider {
    &::after, &::before {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  /* header */
  .header {
    &-promo {
      &-title {
        font-size: 20px !important;
      }

      &-back {
        margin-right: 15px !important;
      }
    }

    &-nav {
      &-container {
        &.ultima {
          padding: 0 8px !important;
        }
      }

      &__logo {
        &.ultima {
          width: 116px;
          height: 42px;
        }

        &_chevron {
          display: none;
        }
      }

      &__link_social {
        display: none !important;
      }

      &__reservation-phone-ultima {
        font-size: 15.3px !important;
        width: 100% !important;
        height: 42.5px !important;
        max-width: 160px !important;
      }
    }

    &-container {
      &-inner {
        background: linear-gradient(181deg,
        #181A23 42.5%, rgba(0, 0, 0, 0.00) 93.79%) !important;
      }
    }
  }

  /* conditions */
  .conditions {
    &-container {
      padding: 0 10px !important;
    }

    &-body-container {
      flex-wrap: wrap;
    }

    &-form {
      margin: 30px auto 0;
    }
  }

  .contacts {
    &-map {
      height: 450px !important;
    }

    &-iframe {
      max-height: 450px !important;
    }

    &-btn {
      &:last-child {
        margin-top: 10px;
      }

      &-group-container {
        flex-direction: column;
      }
    }
  }

  .reviews-slider {
    width: 100% !important;

    &-card {
      padding: 10px !important;
      width: 100% !important;
    }
  }
}

@media (max-width: 500px) {
  .header-booking {
    display: none !important;
  }
  .header-spacer {
    display: block;
    width: 100%;
    height: 200px;
  }

  /* header */
  .header {
    &-content {
      &__title {
        white-space: normal !important;
      }
    }

    &-booking {
      max-width: 90% !important;
    }
  }

  /* breadcrumbs */
  .breadcrumbs {
    &-content {
      font-size: 12px !important;
      max-width: 336px !important;
      padding: 0 10px !important;

      &-link {
        font-size: 12px !important;
      }

      &-delimiter {
        margin: 0 3px !important;
      }
    }
  }

  /* hotelGroup */
  .hotelGroup {
    margin-top: 80px !important;

    &-panel-info-logo {
      display: none;
    }
  }

  /* pinterest */
  .pinterest {
    &-card {
      &-welcome {
        margin-top: 10px;

        &--desktop {
          display: none !important;
        }

        &--tablet {
          display: none !important;
        }

        &--mobile {
          display: block !important;
        }
      }
    }
  }

  /* reviews-cards */
  .reviews {
    margin-top: 10px !important;

    &-container {
      padding: 0 !important;
    }

    &-cards {
      &-group {
        &-gradient {
          &-card {
            width: 167px !important;
            height: 51px !important;
          }

          &-title {
            font-size: 10px !important;
          }
        }

        &-transparent {
          margin-left: 15px !important;

          &-title,
          &-button {
            font-size: 10px !important;
          }
        }
      }
    }
  }

  /* restInPolyana */
  .restInPolyana {
    &-title {
      &-chip {
        padding: 3px !important;
        white-space: nowrap !important;
      }
    }
  }

  .luxHoliday-slide {
    width: 340px !important;
    height: 240px !important;

    &-mask {
      width: 320px !important;
    }

    &-title {
      font-size: 16px !important;
    }
  }
}

@media (max-width: 470px) {
  #block-search {
    min-height: 350px !important;
  }
}

@media (max-width: 410px) {
  .header-container-inner {
    background: linear-gradient(181deg,
    #181A23 50.5%, rgba(0, 0, 0, 0.00) 93.79%) !important;
  }
}

@media (max-width: 380px) {
  .header-nav__logo {
    max-width: 110px !important;
  }

  .header-nav__reservation-phone-ultima {
    width: 130px !important;
    font-size: 12px !important;
  }
}

@media (max-width: 360px) {
  .header-container-inner {
    background: linear-gradient(181deg,
    #181A23 62.5%, rgba(0, 0, 0, 0.00) 93.79%) !important;
  }
}
