
/* max-width: 1100px */

@media (max-width: 1160px) {
  .header {
    &-booking {
      max-width: 90% !important;
    }
  }
}

@media (max-width: 1100px) {
  /* relax-in-comfort */
  .relax-in-comfort { white-space: normal !important; }

  .header {
    &-nav {
      &-container {
        &-inner {
          flex-direction: row-reverse !important;
        }
      }
      &__menu {
        margin: 0 auto !important;
      }
      &__logo {
        margin: 0 !important;
      }
      &__link {
        display: none !important;
      }
    }
    &-content {
      &__season {
        display: none !important;
      }
    }
  }

  /* seasonPrograms */
  .seasonPrograms {
    &-item { margin-right: 0 !important; }
    &-more { margin-left: 0 !important; }
    &-card {
      width: 100% !important;
      margin: 10px 0 !important;
    }
    &-group {
      flex-direction: column !important;
    }
  }

  /* reviews */
  .reviews {
    margin-top: 140px !important;
    &-container {
      flex-direction: column !important;
      justify-content: initial;
    }
    &-cards ,
    &-slider {
      max-width: none !important;
    }
    &-cards {
      &-group {
        &-gradient {
          &-card {
            height: 65px !important;
            &-round {
              width: 25px !important;
              height: 25px !important;
              &-img {
                width: 17px !important;
                height: 17px !important;
              }
            }
          }
        }
      }
    }

    &-slider {
      margin-top: 20px !important;
    }
  }
}

@media (max-width: 960px) {
  .header {
    &-body {
      &-container {
        margin: 20px auto !important;
      }
    }
    &-slider {
      max-width: none !important;
      &-arrow {
        &--desktop {
          display: none !important;
        }
        &--mobile {
          display: block !important;
        }
      }
      &--desktop {
        display: none !important;
      }
      &--mobile {
        display: block !important;
      }
      &-container {
        flex-direction: row !important;
      }
      &__slider {
        flex-direction: row !important;
      }
      &__slide {
        margin: 0 7px !important;
      }
    }
    &-container {
      max-height: none !important;
    }
    &-booking {
      height: auto !important;
      &-container {
        flex-direction: column !important;
      }
      &-delimiter {
        width: 100% !important;
        height: 1px !important;
      }
      &__card {
        max-width: none !important;
      }
    }
    &-container {
      background-size: 100% auto !important;
      background-position: bottom !important;
      &-inner {
        background: linear-gradient(181deg,
        #181A23 53.5%, rgba(0, 0, 0, 0.00) 70.79%) !important;
      }
    }
  }
  /* exclusive */
  .exclusive {
    margin-bottom: 90px;
    &-content {
      margin-right: 0 !important;
    }
    &-form {
      position: relative !important;
      bottom: 10px !important;
      &.inside {
        display: none !important;
      }
      &.outside {
        display: block !important;
      }
    }
  }

  /* rating */
  .rating {
    &-container {
      flex-direction: column !important;
    }
    &-card {
      width: 100% !important;
      margin-right: 0 !important;
    }
  }

  /* footer */
  .footer {
    &-card,
    &-container {
      padding: 0 !important;
    }
    &-inner {
      flex-wrap: wrap;
      margin: 0 !important;
      padding: 0 !important;
    }
    &-seeYouAtHotel {
      margin: 0 !important;
      padding: 0 !important;
      &-address {
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
      }
    }
    &-service {
      align-items: center;
      justify-content: center;
      flex-direction: column !important;
    }
    &-carousel,
    &-slide {
      width: 294px !important;
      height: 234px !important;
      &-corner {
        &--arrow {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }
  }

  /* hotelGroup */
  .hotelGroup {
    &-accordion {
      &-item {
        &--header {
          &-count {
            width: 62px !important;
            height: 33px !important;
          }
          &-arrow {
            width: 40px !important;
            height: 40px !important;
            border-radius: 10px !important;
            & img {
              width: 25px !important;
              height: 25px !important;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 630px) {
  .header {
    &-container {
      &-inner {
        background: linear-gradient(181deg,
        #181A23 63.5%, rgba(0, 0, 0, 0.00) 93.79%) !important;
      }
    }
  }
}
