@import "../fonts/gals/gals.css";
@import "../fonts/charterc/charterc.css";
@import "../fonts/cormorantgaramond/cormorantgaramond.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.section {
  &-title {
    font-family: 'CharterC' !important;
  }
}

.header {
  &-container {
    height: 750px;
    border-radius: var(--bordrad23) !important;
  }
  &-wrapper {
    width: 100%;
    height: 750px;
    background: linear-gradient(90deg, #313339 26.72%, rgba(0, 0, 0, 0.00) 63.37%);
    &-container {
      width: 100%;
      max-width: 90%;
      height: 600px;
    }
  }

  &-info {
    &-wrapper {
      position: relative;
      height: 40px;
      width: 27px;
    }
    &-switch {
      position: absolute;
      left: 0; top: 33px;
      width: 132px; height: 27px;
      transform: rotate(-90deg) translate(0, -53px);
      margin-right: 80px; border-radius: 100px;
      background: linear-gradient(0deg,
      rgba(217, 217, 217, 0.60) 0%,
      rgba(217, 217, 217, 0.60) 100%);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.30);
      backdrop-filter: blur(5px);
      border: 2px solid rgba(212, 211, 218, 0.60);
      &-container {
        position:relative;
        top: -1.5px; left: -3px;
        background: transparent !important;
      }
      &--button {
        color: black !important;
        font-size: 12px !important;
        border-radius: 100px !important;
        background: transparent !important;
        &.active {
          background: white !important;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.30);
          backdrop-filter: blur(5px)
        }
      }
    }
  }

  &-booking {
    width: 1202px;
    height: 90px;
    border-radius: 12px;
    background: linear-gradient(270deg,
    rgba(217, 217, 217, 0.40) 2.1%,
    rgba(217, 217, 217, 0.20) 103.66%);
    backdrop-filter: blur(25px);
    &-delimiter {
      width: 0; height: 90px;
      border: thin solid rgba(255, 255, 255, 0.20);
    }
    &-card {
      &-button {
        color: white;
        font-size: 22px;
        font-weight: 400;
        border-radius: 8px !important;
      }
      &-title {
        color: white;
        font-size: 22px !important;
        font-weight: 400;
      }
      &-subtitle{
        height: 20px;
        width: 100vw;
        max-width: 200px;
        color: white;
        font-size: 16px;
        font-weight: 400;
        &v-icon {
          font-size: 23px !important;
        }
      }
    }
  }
}

.nav {
  &-menu {
    &-lineGroup {
      &-line {
        width: 38px;
        height: 3.5px;
        margin: 2.75px 0;
        border-radius: 1px;
        background: white
      }
      &-text {
        color: white;
        font-size: 12.5px;
        font-family: 'Gals' !important;
      }
    }
  }
  &-button-group {
    width: 100%;
    &--book {
      margin-bottom: 12px;
      color: var(--dark-color);
      font-size: 14px;
      font-weight: 700;
      border-radius: 4px;
      backdrop-filter: blur(2px);
    }
    &--phone {
      font-size: 18px;
      font-weight: 700;
      border-radius: 4px;
      background: linear-gradient(93deg,
        rgba(255, 255, 255, 0.10) -3.44%,
      rgba(255, 255, 255, 0.06) 113.56%) !important;
      backdrop-filter: blur(25px);
    }
  }
  &v-btn {
    font-size: 22px
  }
}

.logo {
  &-img {
    position: relative !important;
    z-index: 100 !important;
  }
  &-text {
    position: relative;
    width: 80px;
    height: 45px;
    top: -5px;
    z-index: 50;
    color: white;
    padding-top: 7px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    border: 2px solid white;
    border-top: none;
    background: rgba(217, 217, 217, 0.33);
    backdrop-filter: blur(25px);
  }
}

.feedbackForm {
  border-radius: var(--bordrad23) !important;

  & * {
    font-family: 'Montserrat' !important;
  }

  &-title {
    color: white;
    font-size: 16px !important;
    font-weight: 400 !important;
    text-transform: uppercase;
    white-space: pre-line !important;
  }

  &-inputGroup {
    &-label {
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &-input {
      width: 325px;
      height: 50px;
      border-radius: 12px !important;
      background: #D9D9D9 !important;
      & * {
        box-shadow: none !important;
      }
    }
  }

  &-button {
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px !important;
    background: linear-gradient(90deg,
      #CCAB6A -1.19%, #C1B397 177.44%)
    !important;
  }

  &-conditions {
    color: white;
    font-size: 12px !important;
    font-weight: 400 !important;
  }
}

.relax-in-comfort {
  width: 684px;
  color: white;
  font-family: 'Cormorant Garamond' !important;
  font-size: 40px;
  font-weight: 700 !important;
  text-transform: uppercase;
  .golden {
    color: var(--golden-2);
    font-family: inherit !important;
  }
}

.rating {
  display: flex;
  justify-content: center;
  &-container { justify-content: space-between; padding: 0; }
  &-card {
    margin-top: 20px;
    padding: 15px 20px;
    margin-right: 15px;
    border-radius: var(--bordrad23) !important;
    &-container { height: 100%; }
    &:last-child { margin-right: 0; }
    &-title {
      color: black;
      white-space: pre-line;
      font-size: 18px !important;
      font-weight: 700 !important;
      text-transform: uppercase;
    }
    &-text {
      color: black;
      white-space: pre-line;
      font-size: 16px !important;
    }
  }
  &-yandex {
    width: 257px;
  }
  &-tl-rep {
    width: 371px;
    &-title {
      color: black;
    }
    &-text {
      position: relative;
      top: -5px;
      color: black !important;
      font-size: 20px !important;
      font-weight: 400 !important;
    }
    &-left, &-right { position: relative; top: 3px; }
    &-left { left: 5px; }
    &-right { right: 5px; }
  }
  &-we-care {
    width: 257px;
    &-star {
      color: black;
      width: 50px;
      height: 50px;
      font-size: 50px;
      font-weight: 900 !important;
      text-transform: uppercase;
      border-radius: 50%;
      background: var(--golden-1)
    }
  }
  &-booking-comfort {
    width: 285px;
  }
  &-weather {
    width: 280px;
    &-text {
      color: black;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat' !important;
      font-size: 14px !important;
      font-weight: 500 !important;
    }
  }
}

.pinterest {
  &-card {
    position: relative;
    border-radius: var(--bordrad23) !important;
    &-title {
      color: var(--dark-color);
      font-family: 'Cormorant Garamond' !important;
      font-weight: 700 !important;
      white-space: pre-line;
      text-transform: uppercase;
      & span { position: relative; top: 10px; left: 4px; }
    }
    &-text {
      position: absolute;
      top: -90px;
      width: inherit;
      color: black;
      white-space: pre-line !important;
      text-align: right !important;
      font-size: 16px !important;
      font-weight: 400 !important;
    }
    &-welcome {
      &-wrapper { position: relative; width: 485px; }
    }
  }
  &-video {
    &-aboutHotels {
      position: relative; left: 60%; top: 30px;
      border: 11px solid var(--card-grey) !important;
      &-play { position: absolute !important; }
      &-rotate {
        -webkit-animation: spin 8s linear infinite;
        -moz-animation: spin 8s linear infinite;
        animation: spin 8s linear infinite;
      }
    }
  }
}

.hotelGroup {
  margin-top: 220px;
  &-line { width: 100%; height: 1px; background: #d0cfce; }
  &-title {
    color: var(--dark-color);
    font-weight: 400 !important;
    white-space: pre-line !important;
  }
  &-accordion {
    &-item {
      &--header {
        &-count {
          width: 79px; height: 42px;
          font-size: 22px;
          font-weight: 500;
          border-radius: 100px;
          border: 1px solid #CCAB6A;
          text-transform: uppercase;
        }
        &-title {
          font-family: 'CharterC' !important;
          font-size: 60px !important;
          font-weight: 400 !important;
        }
        &-price {
          color: #B6B6B6;
          font-size: 35px !important;
          font-weight: 400 !important;
        }
        &-arrow {
          width: 66px; height: 66px;
          border-radius: 16px;
          background: var(--gradiend-golden);
        }
      }
    }
  }
}

.specialOffers {
  margin-top: 85px;
  &-info {
    margin-top: 32px;
    &-title {
      color: var(--dark-color);
      white-space: pre-line !important;
    }
    &-text {
      max-width: 450px;
      & * {
        font-size: 16px !important;
        white-space: pre-line !important;
      }
    }
  }
  &-slider { width: 60%; margin-left: 155px; }
}

.seasonPrograms {
  margin-top: 120px;
  &-item {
    &-container { position: relative; width: inherit; height: inherit; }
    &-text {
      position: absolute;
      left: -50px; top: 50px;
      width: 165px; height: 63px;
      background: rgba(217, 217, 217, 1);
      transform: rotate(-90deg);
      &.summer { background: rgba(217, 217, 217, 1); }
      &.winter { background: var(--cold-grey); }
    }
  }
  &-more {
    &-container { position: relative; width: inherit; height: inherit; }
    &-text { position: absolute;
      left: -83px; top: -32px;
      width: 165px; height: 63px;
      transform: rotate(-90deg);
      &.summer { background: rgba(217, 217, 217, 1); }
      &.winter { background: var(--cold-grey); }
    }
  }
}

.exclusive {
  margin-top: 136px;
  &-form {
    &.inside {
      display: block;
    }
    &.outside {
      display: none;
      position: relative;
      top: 90px;
    }
  }

  &-content {
    margin-right: 50px;
  }
  &-container {
    border-radius: 23px;
    background: linear-gradient(268deg,
    rgba(217, 217, 217, 0.40) 3.77%,
    rgba(217, 217, 217, 0.20) 98.84%) !important;
    backdrop-filter: blur(35px) !important;
  }

  &-title {
    color: white !important;
    font-weight: 400 !important;
    white-space: pre-line !important;
  }

  &-text {
    color: white !important;
    font-family: 'Montserrat' !important;
    line-height: 136.4% !important;

    &-container { max-width: 492px; }
    &-promotion {
      font-family: 'Montserrat' !important;
      color: white !important;
      font-size: 14px !important;
      line-height: 136.4% !important;
      white-space: pre-line !important;
    }
  }
}

.footer {
  margin-top: 82px;
  & * {
    font-family: 'Montserrat' !important;
  }
  &-card {
    padding: 40px 15px !important;
  }
  &-title {
    color: black;
    font-weight: 500;
    font-size: 20px !important;
    text-transform: uppercase;
  }
  &-booking {
    width: 318px;
    height: 439px;
    &-btn {
      font-weight: 400;
      font-size: 14px !important;
    }
    &-text {
      color: white !important;
      font-weight: 500;
      font-size: 16px !important;
      white-space: pre-line !important;
    }
  }
  &-seeYouAtHotel {
    &-chip {
      font-size: 14px !important;
    }
    &-address {
      &-text {
        color: black;
        font-size: 16px !important;
        line-height: 22px !important;
        font-weight: 400 !important;
        white-space: pre-line !important;
      }
    }
  }
  &-carousel,
  &-slide {
    width: 364px;
    height: 290px;
  }
  &-carousel {
    border-radius: 22px;
  }
  &-slide {
    position: relative;
    &-svg {
      width: inherit;
      height: inherit;
    }
    &-corner {
      position: absolute; right: 0; bottom: 0;
      &--arrow {
        position: relative;
        right: 0;
        bottom: 0;
        width: 62px;
        height: 62px;
        & img {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
  &-helpInfo {
    &-subtitle { color: black; font-size: 17px !important; font-weight: 700 !important; }
    &-link {
      color: black !important;
      font-size: 15.2px !important;
      line-height: 23.275px;
    }
  }
  &-mazur {
    margin-top: 72px; padding-bottom: 30px;

    &-text {
      color: #8F8F8F;
      text-align: center;
      font-size: 17px;
      font-weight: 400;
      & a { color: #27388F; }
    }
    &-polyana {
      color: #8F8F8F;
      text-align: center;
      font-size: 17px;
      font-weight: 400 !important;
    }
  }
  &-service {
    width: 100%;
    max-width: 50%;
    margin-left: 40px;
  }
}

.corner-card {
  position: relative;
  &-header {
    position: absolute; width: 100%;
    &-container { width: calc(100% - 72px) }
    &--arrow {
      position: relative;
      top: 0; right: 0;
    }
  }
  &-image {
    width: 333px;
    height: 493px;
    object-fit: contain;
  }
  &-text {
    position: absolute !important;
    bottom: 26px;
    color: var(--dark-color);
    font-size: 16px !important;
    font-weight: 500 !important;
    white-space: pre-line !important;
    border-radius: 12px !important;
    backdrop-filter: blur(25px);
    background: linear-gradient(270deg,
    rgba(217, 217, 217, 0.40) 2.1%,
    rgba(217, 217, 217, 0.20) 103.66%);
  }
}
